/*Mobile first fino a 576px*/
/*Modalità Tablet fino a 768px*/
@media screen and (min-width:768px){
    h1 {
        text-align: left;
        font-size: 50px;
        padding: 20px 10px;
    }
    .full-txt {
        display: inline-block;
    }
    .commercial {
        display: inline;
    }
}
/*Modalità Desktop fino a 992px*/
@media screen and (min-width:992px){
    h1 {
        font-size: 60px;
    }

}
