/*Mobile first*/

/*Modalità Tablet fino a 768px*/

@media screen and (min-width:768px){
    /* logo nel header si allinea a sx */
    #topbar {
        justify-content: flex-start;
    }
    /* padding del contenuto principale aumenta */
    main {
        padding: 50px;
    }
    /* compare il testo (dolce tradizionale) */
    .full-txt {
        display: inline;
    }
    /* grandezza del titolo aumenta */
    .top {
        font-size: 20px;
    }
    /* info ricetta sotto video si dispongono a griglia */
    .recipe-notes ul {
        display: flex;
        flex-wrap: wrap;
    }
    .recipe-notes li {
        flex-basis: calc(100% / 3);
    }
    /* bottoni social si allargano */
   .socials a {
    flex-basis: 20%;
   }
    /* compare banner pubblicità */
    .commercial {
        display: block;
    }
    /* img descrizione viene circondata dal testo */
    .tiramisu-img {
        float: left;
        margin: 5px 5px;
    }
}

/*Modalità Desktop fino a 992px*/

@media screen and (min-width:992px){
    /* grandezza titolo aumenta ancora */
   .top {
    font-size: 30px;
   }
    .full-txt{
        font-size: 35px;
    }
   
    /* le info ricetta tornano a disporsi una sotto l'altra */

    /* il video e le info si mettono accanto */

    /* compaiono nomi piattafrome social */
    .socials .social-name {
        display: inline;
    }
    /* nel footer i dati del sito e il menù di navigazione si dispongono sulla stessa linea,
    ma su lati opposti */
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }
}
