/*Custom properties*/
:root {
--primary-color:#ff9514;
--background-color:#f5f4f2;
}
/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/*Generics*/
body{
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    border: 1px solid black;
    background-color: var(--background-color);
}
header {
    min-height: 80px;
    color:var(--primary-color);
    font-family:'Nerko One', cursive;
    background-color: transparent;
}
h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px gray;
    padding: 20px 0;
    
}
/*Utils*/
.contanier {
    max-width: 1200px;
    margin: 0 auto;
}
