/*Custom properties*/
:root {
--primary-color:#ff9514;
--secondary-color:#4d3869;
--background-color:#f5f4f2;
}
/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/*Generics*/
body{
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}
#topbar {
    height: 80px;
    color:var(--primary-color);
    font-family:'Nerko One', cursive;
    padding: 0 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 100%;
}
main {
    min-height:calc(100vh - 80px);
    background-color: var(--background-color);
    padding: 20px;
}  

header h2 {
    display: inline;
}
ul {
    list-style-type: none;
}
footer {
    min-height: 80px;
    color: white;
    background-color: #7b68a3;
    text-align: center;
    padding: 20px;
}
/* header nel main */
.top {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}
.category {
    color:#ccbcb1;
    font-size: 15px;
    font-weight: 300;
}
.name-dessert,
.full-txt {
    color:var(--secondary-color);
    font-weight: 800;
}
.full-txt {
    display: none;
    font-size: 25px;
}
.recipe-title {
    flex-basis: 70%;
}
.recipe-rating {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 10px;
}
.btn-primary {
    color: white;
    padding: 10px 15px;
    font-weight: 600;
    background-color: var(--primary-color);
    border-radius: 20px;
}
.btn-secondary {
    color: white;
    padding: 5px 10px;
    background-color: #7c6aa3;
    border-radius: 10px;
}
.fa-star {
    color: var(--primary-color);
}
/* sezione card */
.recipe-card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 5px 10px gray;
    margin-bottom: 20px;
}
/*calcolo tenendo in conto che i video sono 16:9 3 che ho dato del padding alla section*/
.video iframe {
    width: 100%;
    display: block;
    height: calc((100vw - 40px)* 9 / 16);
    margin-top: 30px;
}
.card-ingredients {
    min-width: 200px;
    margin: 0 20px;
    padding-top: 20px;
    background-color: white;
    border-bottom: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 1px gray;  
}
.inner-card {
    min-width: 100px;
    background-color: #f6f5fa;
    margin: 10px 10px;
}
.calories {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.calories a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}
.calories {
    padding: 20px;
}
.line-top {
    padding: 20px;
    border-top: 1px solid black;
}

/* socials section */
.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}
.socials .social-name {
    display: none;
}
.socials a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
} 
.facebook {
    color: #5079f2;

} 
.twitter {
    color: #009dff;

} 
.instagram {
    color: #e38aa2;

}
.pinterest {
    color: #e62737;
}
.youtube {
    color: #bf1d1d;
}
#presentation {
    padding-bottom: 30px;
}

/*banner*/
.commercial {
    display: none;
    width: 100%;
}
/*presentation*/
.tiramisu-img {
    width: 50%;
}
/*footer*/
footer a {
    color: white;
}
footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/*Utils*/
.container {
    max-width: 1400px;
    margin: 0 auto;
}


