/*Custom properties*/
:root {
--primary-color:#ff9514;
--secondary-color:#4d3869;
--background-color:#f5f4f2;
}
/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/*Generics*/
body{
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}
header {
    min-height: 80px;
    color:var(--primary-color);
    font-family:'Nerko One', cursive;
    background-color: transparent;
}
main {
    min-height: 800px;
    background-color: var(--background-color);
}
h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px gray;
    padding: 20px 40px;
}
section {
    padding: 20px 20px;

}
main a {
    color:#ccbcb1;
    text-decoration: none;
    cursor: pointer;
}
.selection-dessert {
}
.type-of-dessert {
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

}
.name-dessert {
    flex-basis: 50%;
    color:var(--secondary-color) ;
    font-weight: 800;
}
.rating {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 10px;
}
.btn {
    color: white;
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 20px;
}
.fa-star {
    color: var(--primary-color);
}
/*Utils*/
.contanier {
    max-width: 900px;
    margin: 0 auto;
}

